$bg-color: white;
$fg-color: #444;
$input-border-color: #DDD;
$alt-bg-color: #F4F4F4;

$bold-color: #E84E01;
$alt-bold-color: #4F9EE5;

$accent-color: #FA1995;
$accent-color-dark: #25334F;
$alt-accent-bg: #D42461;
$alt-accent-fg: white;
$alt-accent-bg-dark: #44B209;

//
// blue: #3880AD
//
// red: #C25B64
//
// yellow: #EDE5B6
//
// green: #C5E0CE
//
// grey: #E4E8ED
//
// light yellow: #EAEDDF
//
//
// magenta: #FA1995
//
// dark magenta: #D42461
